upstream model_service_host{
    server model_service:8000;
}
upstream user_service_host{
    server user_service:8000;
}

server {


  listen 8080;
  location /user_service_health{
      proxy_pass http://user_service_host/health;
      proxy_set_header HOST $host;
      proxy_set_header X-Real-IP $remote_addr;
    }

  location /model_service_health{
      proxy_pass http://model_service_host/health;
      proxy_set_header HOST $host;
      proxy_set_header X-Real-IP $remote_addr;
    }

  location /health{
    content_by_lua_block{
        local cjson = require("cjson")
        local user_service_res = ngx.location.capture("/user_service_health");
        local model_service_res = ngx.location.capture("/model_service_health");
        
        ngx.header.content_type = "application/json"

        local response = {
          user_service = user_service_res.body,
          model_service = model_service_res.body
        }

        ngx.say(cjson.encode(response))
      }
    }
  location /api/v1/login{
      proxy_pass http://user_service_host/api/v1/token;
    }

  location /api/v1/model{
      proxy_pass http://model_service_host/api/v1/pickle;
    }

}
